formatImgUrl(url)
  '../imgs/' + url
/*
 * Dimensions
 */
//  base
base-width = 100%
base-height = 706px

// header
header-height = 80px
header-border-bottom-height = 2px
brand-logo-width = 123px
brand-logo-height = 22px
connection-status-len = 30px

cntr-wight = 800px
public-id-ls-item-height = 55px

/*
 * Color
 */
//  backgound colors
pr-blue = #5593d7
pr-pale-blue = #b5d1ef
pr-pale-brown = #f4f3f3
pr-pale-brown-2 = #fbfbfb
pr-pale-brown-3 = #f4f2f2
pr-pale-brown-4 = #e6e3e3
err-red = #d0011b
bg-body = #ffffff
bg-root = #ffffff
bg-header-border-bottom = #979797
bg-no-public-id-cntr = pr-pale-blue
bg-card-head = pr-pale-blue
bg-card-container = pr-pale-brown
bg-default-flat-btn = pr-pale-brown
bg-default-flat-btn-hover = #c2c2c2
bg-primary-flat-btn = pr-pale-blue
bg-primary-flat-btn-hover = #89b5e3
bg-new-website-option = #ffffff
bg-new-website-option-hover = #8b8b8b
bg-service-path-edit = pr-pale-brown-2
bg-file-explorer-head = pr-pale-brown-4
bg-file-explorer-item-hover = pr-pale-brown-3
bg-file-explorer-progress = pr-pale-blue
bg-uploading = rgba(230, 227, 227, 0.7)

// text colors
color-common-text = #555555
color-pr-blue = pr-blue
color-err-red = err-red

/*
 * URLs
 */
plus-icon = 'new-public-id.svg'
plus-icon-hover = 'new-public-id-hover.svg'
url-nw-reconnect = formatImgUrl('nw-reconnect.svg')
url-new-public-id = formatImgUrl(plus-icon)
url-new-public-id-hover = formatImgUrl(plus-icon-hover)
url-new-public-id-arrow = formatImgUrl('new-public-id-arrow.svg')
url-accordion-arrow = formatImgUrl('accordion-arrow.svg')
url-public-id-icon = formatImgUrl('public-id-icon.svg')
url-error-icon = formatImgUrl('error.svg')
url-delete-icon = formatImgUrl('delete.svg')
url-delete-icon-hover = formatImgUrl('delete-hover.svg')
url-remap-icon = formatImgUrl('remap.svg')
url-remap-icon-hover = formatImgUrl('remap-hover.svg')
url-back-icon = formatImgUrl('go-back.svg')
url-back-icon-hover = formatImgUrl('go-back-hover.svg')
url-home-icon = formatImgUrl('go-home.svg')
url-home-icon-hover = formatImgUrl('go-home-hover.svg')
url-use-template = formatImgUrl('use-template.svg')
url-use-template-hover = formatImgUrl('use-template-hover.svg')
url-choose-existing = formatImgUrl('choose-existing.svg')
url-choose-existing-hover = formatImgUrl('choose-existing-hover.svg')
url-new-website = formatImgUrl('new-website.svg')
url-new-website-hover = formatImgUrl('new-website-hover.svg')
url-reload = formatImgUrl('reload.svg')
url-dropdown = formatImgUrl('dropdown.svg')
url-file-icon = formatImgUrl('file-icon.svg')
url-dir-icon = formatImgUrl('folder-icon.svg')
url-upload-icon = formatImgUrl(plus-icon)
url-upload-icon-hover = formatImgUrl(plus-icon-hover)
url-upload-menu-bg = formatImgUrl('upload-dropdown.svg')
url-init-done = formatImgUrl('init-done.svg')
url-init-loading = formatImgUrl('loading.gif')
url-common-loading = formatImgUrl('common-loader.gif')
url-brand = formatImgUrl('brand.svg')
