<div class="ms-frame" ng-controller="AuthoriseCtrl" ng-init="init()">
  <!-- Authorising -->
  <div ng-show="authorisationTasks.currentState === authorisationTasks.state.AUTHORISING">
    <!-- content 1 -->
    <div class="content-1">
      <h3 class="content-1-h">Waiting on Authorisation Request</h3>
      <p class="content-1-p">
        Please check the SAFE Launcher and grant access to the SAFE Demo application to connect to the SAFE Network.
      </p>
    </div><!-- /content 1 -->
    <div class="ms-authLoading" >
      <div class="ms-authLoading-desc">{{ authorisationTasks.messages.AUTHORISING }}</div>
      <span class="ms-authLoading-i"></span>
    </div>
  </div>
  <!-- /Authorising -->
  <!-- Initialising -->
  <div ng-show="authorisationTasks.currentState === authorisationTasks.state.INITIALISING">
    <!-- content 1 -->
    <div class="content-1">
      <h3 class="content-1-h">Getting everything ready</h3>
      <p class="content-1-p">
        Please wait while we initialise the Demo app for you. We're busy setting up the
        demo app with everything it needs to give you a small taste of things to come.
      </p>
    </div><!-- /content 1 -->
    <div class="ms-authLoading">
      <div class="ms-authLoading-desc">{{ authorisationTasks.messages.INITIALISING }}</div>
      <span class="ms-authLoading-i"></span>
      <div class="ms-auth-init-list">
        <ul>
          <li ng-class="{success: (authorisationTasks.appSetupStatus.checkingPublicName === authorisationTasks.state.SUCCESS),
          error: (authorisationTasks.appSetupStatus.checkingPublicName === authorisationTasks.state.FAILURE),
          'in-progress': (authorisationTasks.appSetupStatus.checkingPublicName === authorisationTasks.state.IN_PROGRESS)}">Get public name</li>
          <li ng-class="{success: (authorisationTasks.appSetupStatus.checkingDirectories === authorisationTasks.state.SUCCESS),
          error: (authorisationTasks.appSetupStatus.checkingDirectories === authorisationTasks.state.FAILURE),
          'in-progress': (authorisationTasks.appSetupStatus.checkingDirectories === authorisationTasks.state.IN_PROGRESS)}">Get root directory</li>
          <li ng-class="{success: (authorisationTasks.appSetupStatus.creatingPublicDirectory === authorisationTasks.state.SUCCESS),
          error: (authorisationTasks.appSetupStatus.creatingPublicDirectory === authorisationTasks.state.FAILURE),
          'in-progress': (authorisationTasks.appSetupStatus.creatingPublicDirectory === authorisationTasks.state.IN_PROGRESS),
          disabled: !authorisationTasks.appSetupStatus.creatingPublicDirectory}">Create public folder</li>
          <li ng-class="{success: (authorisationTasks.appSetupStatus.creatingPrivateDirectory === authorisationTasks.state.SUCCESS),
          error: (authorisationTasks.appSetupStatus.creatingPrivateDirectory === authorisationTasks.state.FAILURE),
          'in-progress': (authorisationTasks.appSetupStatus.creatingPrivateDirectory === authorisationTasks.state.IN_PROGRESS),
          disabled: !authorisationTasks.appSetupStatus.creatingPrivateDirectory}">Create private folder</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Initialising -->
</div>
