<div class="ms-explr">
  <div class="ms-explr-h">
    <div class="ms-explr-h-lt">
      <button type="button" class="ms-btn ms-up-btn" name="goBack" ng-click="back()" ng-disabled="listMode || currentDirectory === '/'"></button>
      <!-- <button type="button" class="ms-btn" name="goForward">F</button> -->
      <!-- <button type="button" class="ms-btn" name="goStepBack">SB</button> -->
    </div>
    <div class="ms-explr-h-addrbar">
      <input type="text" name="addrBar" readonly value="" ng-model="currentDirectory">
    </div>
    <div class="ms-explr-h-rt ms-dropdown">
      <button type="button" class="ms-btn ms-add-btn" name="upload" ng-click="uploadDialog = !uploadDialog"
        ng-disabled="listMode || currentDirectory === '/'"></button>
      <div ng-show="uploadDialog" class="ms-dropdown-b">
        <ul style="list-style-type:none">
          <li ng-click="upload(false)">
            Upload Directory
          </li>
          <li ng-click="upload(true)">
            Upload File
          </li>
        </ul>
      </div>
      <button type="button" class="ms-btn ms-rename-btn" name="rename" ng-click="showRenameField()"
        ng-disabled="!listSelected || listMode || currentDirectory === '/'"></button>
      <button type="button" class="ms-btn ms-cut-btn dark" name="cut" ng-click="cut()"
        ng-disabled="!listSelected || listMode || currentDirectory === '/'"></button>
      <button type="button" class="ms-btn ms-copy-btn dark" name="copy" ng-click="copy()"
        ng-disabled="!listSelected || listMode || currentDirectory === '/'"></button>
      <button type="button" class="ms-btn ms-paste-btn dark" name="paste" ng-click="paste()"
        ng-disabled="!currentManipulateAction || listMode || currentDirectory === '/'"></button>
      <button type="button" class="ms-btn ms-delete-btn dark" name="delete" ng-click="delete()"
        ng-disabled="!listSelected || listMode || currentDirectory === '/'"></button>
    </div>
  </div>
  <div class="ms-explr-cont">
    <div class="ms-list-2 static-dir-holder" ng-switch on="currentDirectory">
      <div ng-switch-when="/" class="static-dir-holder-b">
        <div class="ms-list-2-i static-dir-holder-i" ng-repeat="dir in rootDirectories | orderBy: 'name'"
          ng-click="select($event, dir.name, false);openDirectory($event, dir.name)">
          <div class="static-dir-holder-icn" ng-class="{'ms-icn-public-folder': dir.name === 'public', 'ms-icn-private-folder': dir.name !== 'public'}">
          </div>
          <div class="static-dir-holder-desc">
            <h3 class="head">{{ dir.displayName }}</h3>
            <p class="ctx">
              {{ dir.description }}
            </p>
          </div>
        </div>
      </div>
      <div ng-switch-default>
        <div class="ms-list-2-i ms-list-2-h">
          <div class="ms-list-2-i-ctx icn">&nbsp;</div>
          <div class="ms-list-2-i-ctx name">Name</div>
          <div class="ms-list-2-i-ctx type" ng-if="!listMode">Type</div>
          <div class="ms-list-2-i-ctx size" ng-if="!listMode">Size</div>
          <div class="ms-list-2-i-ctx date">Date</div>
        </div>
        <div class="ms-list-2-i" ng-repeat="dir in dir.subDirectories | orderBy: 'name'" ng-click="select($event, dir.name, false)" ng-dblclick="openDirectory($event, dir.name)">
          <div class="ms-list-2-i-ctx icn ms-icn-folder">&nbsp;</div>
          <div class="ms-list-2-i-ctx name">{{ dir.name }}</div>
          <div class="ms-list-2-i-ctx rename">
            <input type="text" name="rename" ng-value="dir.name" data-original-val="{{dir.name}}">
            <button type="button" class="ms-tick-btn" name="renameSubmit" ng-click="renameTarget($event)"></button>
          </div>
          <div class="ms-list-2-i-ctx type" ng-if="!listMode">&nbsp;</div>
          <div class="ms-list-2-i-ctx size" ng-if="!listMode">&nbsp;</div>
          <div class="ms-list-2-i-ctx date">{{ dir.createdOn | date : 'dd-MM-yy HH:mm' }}</div>
        </div>
        <div ng-show="!listMode" class="ms-list-2-i" ng-repeat='file in dir.files' ng-click="select($event, file.name, true)" ng-dblclick="download($event, file.name, file.size)">
          <div class="ms-list-2-i-ctx icn" ng-class="getFileIconClass(file.name)">&nbsp;</div>
          <div class="ms-list-2-i-ctx name">{{ file.name }}</div>
          <div class="ms-list-2-i-ctx rename">
            <input type="text" name="rename" ng-value="file.name" data-original-val="{{file.name}}">
            <button type="button" class="ms-tick-btn" name="renameSubmit" ng-click="renameTarget($event)"></button>
          </div>
          <div class="ms-list-2-i-ctx type">{{ mime.lookup(file.name) }}</div>
          <div class="ms-list-2-i-ctx size">{{ bytesToSize(file.size) }}</div>
          <div class="ms-list-2-i-ctx date">{{ file.createdOn | date : 'dd-MM-yy HH:mm' }}</div>
        </div>
        <!-- <div class="ms-list-2-i" ng-show='isDirectoryEmpty()'>
          <div class="ms-list-2-i-ctx icn">Empty</div>
        </div> -->
      </div>
    </div>
  </div>
</div>
