<div class="ms-frame">
  <!-- content 1 -->
  <div class="content-1 home-content">
    <h3 class="content-1-h">SAFE Network Demos</h3>
    <p class="content-1-p">
      Below are some demos that showcase key network features under development.
    </p>
  </div>
  <!-- /content 1 -->
  <!-- flexbox -->
  <div class="flexbox-cont container-1">
    <div class="flexbox-cont-i">
      <a ui-sref="manageNetworkData">
        <!-- Manage network data -->
        <div class="card-1">
          <div class="card-1-med"><img src="./images/demo_2.svg" alt="Demo 2" /></div>
          <div class="card-1-ctx">
            <h3 class="card-1-ctx-h">Manage Network Data</h3>
          </div>
        </div>
        <!-- /Manage network data -->
      </a>
    </div>
    <div class="flexbox-cont-i">
      <a ui-sref="publicID">
        <!-- Manage websites -->
        <div class="card-1">
          <div class="card-1-med"><img src="./images/demo_3.svg" alt="Demo 3" /></div>
          <div class="card-1-ctx">
            <h3 class="card-1-ctx-h">Manage Websites</h3>
            <!-- <p class="card-1-ctx-p">
              This demo is to create and manage sites hosted on the SAFE Network. Here you can choose a domain, and upload files.
            </p> -->
          </div>
        </div>
        <!-- /Manage websites -->
      </a>
    </div>
  </div>
  <!-- /flexbox -->
</div>
<!-- /frame -->
