<div class="ms-frame">
  <!-- content 1 -->
  <div class="content-1 home-content">
    <h3 class="content-1-h">SAFE Network Demo</h3>
    <p class="content-1-p">
      Below are some demo to showcase of the key network features under development.
    </p>
  </div>
  <!-- /content 1 -->
  <!-- flexbox -->
  <div class="flexbox-cont container-1">
    <div class="flexbox-cont-i">
      <a ui-sref="publicID">
        <!-- Create public ID -->
        <div class="card-1">
          <div class="card-1-med"><img src="./images/demo_1.svg" alt="Demo 1" /></div>
          <div class="card-1-ctx">
            <h3 class="card-1-ctx-h">Manage public ID</h3>
            <p class="card-1-ctx-p">
              Use this demo to create Public ID to use on the SAFE Network. This ID will be used for SAFE apps e.g. Web, Drive.
            </p>
          </div>
        </div>
        <!-- /Create public ID -->
      </a>
    </div>
    <div class="flexbox-cont-i">
      <a ui-sref="manageService">
        <!-- Manage websites and files -->
        <div class="card-1">
          <div class="card-1-med"><img src="./images/demo_2.svg" alt="Demo 2" /></div>
          <div class="card-1-ctx">
            <h3 class="card-1-ctx-h">Manage websites and files</h3>
            <p class="card-1-ctx-p">
              This demo is to create and manage sites hosted on the SAFE Network. Here you can choose a domain, and upload files.
            </p>
          </div>
        </div>
        <!-- /Manage websites and files -->
      </a>
    </div>
    <div class="flexbox-cont-i">
      <a ui-sref="managePrivateData">
        <!-- View and Manage Private Data -->
        <div class="card-1">
          <div class="card-1-med"><img src="./images/demo_3.svg" alt="Demo 3" /></div>
          <div class="card-1-ctx">
            <h3 class="card-1-ctx-h">View and Manage Private Data</h3>
            <p class="card-1-ctx-p">
              Here you can view and manage your private data that only you can access and see.
            </p>
          </div>
        </div>
        <!-- /View and Manage Private Data -->
      </a>
    </div>
  </div>
  <!-- /flexbox -->
  <!-- flexbox -->
  <div class="flexbox-cont container-1">
    <div class="flexbox-cont-i">
      <!-- coming soon -->
      <div class="card-2">
        <h3 class="card-2-h">Coming soon...</h3>
        <div class="card-2-ctx">
          <h3 class="card-2-ctx-h">Messaging</h3>
          <p class="card-2-ctx-p">
            Use this demo to create a Public ID to use on the SAFE Network. This ID will be used for SAFE apps e.g. Web, Drive.
          </p>
        </div>
      </div>
      <!-- coming soon -->
    </div>
    <div class="flexbox-cont-i"></div>
    <div class="flexbox-cont-i"></div>
  </div>
</div>
<!-- /frame -->
