<div class="ms-frame">
  <!-- header -->
  <div class="frame-h">
    <div class="frame-h-act">
      <a ui-sref="home" class="frame-h-act-btn ms-back-btn"></a>
    </div>
    <h3 class="frame-h-ctx">Manage Websites</h3>
  </div><!-- /header -->
  <!-- content 1 -->
  <div class="content-1">
    <h3 class="content-1-h">Manage Services</h3>
    <p class="content-1-p">
      Here you can view and edit which services you have tied to your public ID.<br/>
      There is no limit to how many you can create but they must all be unique within your ID.
    </p>
  </div><!-- /content 1 -->
  <div ng-controller="ServiceCtrl">
    <h3 ng-if="!longName" class="heading-1"><a ui-sref="publicID">Create a Public ID to register a service</a></h3>
    <div ng-if="longName" ng-init="getServices()">
      <div class="container-2 text-center">
        <a ui-sref="createService" class="ms-btn ms-primary-btn">Create New</a>
      </div>
      <h3 class="heading-1" ng-show="serviceList.length === 0">No service registered</h3>
      <div class="ms-list-1" ng-show="serviceList.length > 0">
        <div class="ms-list-1-i" ng-repeat="service in serviceList">
          <div class="ms-list-1-i-ctx">
            http://<b>{{ service.name }}</b>{{ '.' + service.longName + '.safenet' }}
          </div>
          <div class="ms-list-1-i-act">
            <a ui-sref="serviceExplorer({serviceName: service.name})">Edit Files</a>
            <a href="" ng-click="openLink(service.name, service.longName)">Visit Site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
