.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

video.me {
  position: absolute;
  max-width: 25vw;
  right: 0;
  bottom: 0;
}

.peerview {
  display: flex;
  justify-content: center;
}

.chat {
  width: 25vw;
  padding: 1em;
  text-align: right;
}

.chat ul {
  list-style: none;
  padding: 0;
}

.chat ul li {
  padding: 3px;
}

.chat ul li.peer {
  text-align: left;
  margin-right: 2em;
}

.chat ul li.me {
  margin-left: 2em;
}

.chat ul li.system {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  color: #999999;
}
.chat ul li.system:after,
.chat ul li.system:before {
  content: " -- "
}


.chat ul li.error {
  font-size: 1.1em;
  text-align: center;
}
.chat ul li.error:after,
.chat ul li.error:before {
  color: red;
  content: " ⚠ "
}
