header {
    background-color: #5592d7;
    padding: 0 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    line-height: 50px;
}

.post {
    margin-top: 50px;
    margin-bottom: 100px;
}
.post .title {
    font-size: 42px;
    margin-bottom: 25px;
}
.post .desc {
    font-size: 18px;
    font-weight: 500;
}
.post .context {
    width: 585px;
    margin: 50px auto 0;
    text-align: justify;
}