{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "comma-dangle": 0,
    "consistent-return": 0,
    "func-names": ["error", "never"],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "linebreak-style": ["error", "windows"],
    "max-len": ["error", { "code": 150 }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-use-before-define": 0,
    "no-shadow": [2, {"allow": ["done", "resolve", "reject", "err"]}],
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "generator-star-spacing": 0
  },
  "plugins": [
    "import",
    "react"
  ]
}
