<!DOCTYPE html>
<html>
<head>
    <title>MaidSafe - DNS Example</title>
    <link rel="stylesheet" href="../bower_components/bower-foundation5/css/normalize.css"/>
    <link rel="stylesheet" href="../bower_components/bower-foundation5/css/foundation.min.css"/>
    <link rel="stylesheet" href="../bower_components/open-sans-fontface/open-sans.css"/>
    <link rel="stylesheet" href="../styles/main.css"/>
</head>
<body>
<nav class="row-full">
    <div class="back" onclick="goBack()">
        <img src="../imgs/arrow.png">
    </div>
    <div class="title">
        Safe:www.maidsafe
    </div>
    <div class="publish" onclick="publishTemplate()">
        <img src="../imgs/tick.png"/><span>Publish</span>
    </div>
</nav>
<section id="step-1">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-9 medium-centered text-center">
                <p class="header">Get Started!</p>
                <p class="description">Choose a Service and Public name</p>
                <div id="registration" class="row">
                    <div class="column medium-7 medium-centered">
                        <div class="column medium-2">
                            <span class="scheme">safe:</span>
                        </div>
                        <div class="column medium-4 no-pad">
                            <input type="text" id="service_name" placeholder="service" required="true"/>
                        </div>
                        <div class="column medium-5 end no-pad">
                            <span class="dot">.</span>
                            <input type="text" id="public_name" placeholder="domain" required="true"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="info_pane" class="column medium-6 medium-centered">
                        <button onclick="validateInput()" style="display: none">Done</button>
                        <span>Trying to connect with launcher</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="step-2" class="hide">
    <div class="row-full centered-layout">
        <div class="row-full">
            <div class="column medium-12 text-center">
                <p class="header">Time to Add some files!</p>
            </div>
        </div>
        <div class=" row-full">
            <div class="column medium-10 medium-centered">
                <div class="column medium-5 text-center ">
                    <div class="row">
                        <div class="column medium-12 text-center margin-top-50">
                            <p class="description">Drag a folder or your HTML/Website files to upload</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column medium-4 large-2 medium-centered text-center">
                            <div id="drag_drop" >
                                <div class="holder">
                                    <img alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column medium-2 text-center">
                    <p class="header margin-top-110">OR</p>
                </div>
                <div class="column medium-5">
                    <div class="row">
                        <div class="column medium-12 text-center margin-top-50">
                            <p class="description">Use our template to create a simple example site</p>
                            <button class="btn_template" onclick="showSection('template')">Use Template</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="step-3" class="hide">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-10 medium-centered text-center">
                <div class="row">
                    <div class="row text-center">
                        <p class="header">Uploading your files</p>
                    </div>
                    <div class="column medium-3 medium-centered upload-region">
                        <div id="progress_bar" class="row">
                            <div class="row">
                                <div class="column medium-12 medium-centered">
                                    <img src="../imgs/upload.png"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column medium-12 medium-centered indicator">
                                    <div class="meter">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="template" class="hide">
    <div class="row-full template_banner" onclick="pickFile()">
        <p id="template_title" onclick="editTemplateTitle(event)">
            My Page
        </p>
        <div id="edit_template_title" class="column medium-centered medium-4 hide">
            <input id="template_title_input" type="text" value="My Page" onchange="updateTemplateTitle(this.value)"/>
        </div>
    </div>
    <div class="row-full template_content">
        <p id="template_content" onclick="editTemplateContent()">
            This page is created and published on the SAFE Network using the SAFE Uploader
        </p>
        <div id="edit_template_content" class="column medium-centered medium-10 hide">
            <input id="template_content_input" type="text"
                   value="This page is created and published on the SAFE Network using the SAFE Uploader"
                   onchange="updateTemplateContent(this.value)"/>
        </div>
    </div>
</section>
<section id="success" class="hide">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-10 medium-centered text-center">
                <div class="row">
                    <div class="row text-center">
                        <p class="header">Files Uploaded!</p>
                    </div>
                    <div class="row">
                        <div class="column medium-2 medium-centered text-center">
                            <img src="../imgs/success.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column medium-12 medium-centered text-center">
                            <p id="success_msg" class="no-pad no-margin">Drag more files to upload again</p>
                            <button onclick="showSection('step-1')">Start Over</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="failure" class="hide">
    <div class="row-full centered-layout">
        <div class="row">
            <div class="column medium-10 medium-centered text-center">
                <div class="row">
                    <div class="row text-center">
                        <p class="header">Oops, Something went wrong!</p>
                    </div>
                    <div class="row">
                        <div class="column medium-2 medium-centered text-center">
                            <img src="../imgs/error.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column medium-12 medium-centered text-center">
                            <p id="error_msg" class="no-pad no-margin">Try to upload again</p>
                            <button onclick="showSection('step-1')">Start Over</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/javascript" src="../scripts/main.js"></script>
<div class="error">
    <div class="arrow">
    </div>
    <div class="error-msg">
    </div>
</div>
</body>
</html>