
.App-header {
  text-align: center;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
