{
    "extends": "eslint-config-airbnb",
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": 0,
        "max-len": [ "error", 120 ],
        "no-console": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "env": {
        "browser": true
    }
}
