.ms-explr {
  width: 80%;
  margin: 0 auto 40px;
  padding-top: 20px;
  .ms-explr-h {
    display: flex;
    background-color: @exp-light;
    .ms-explr-h-lt, .ms-explr-h-rt {
      display: inline-block;
      float: left;
      .dark {
        display: inline-block;
        float: right;
        background-color: @exp-dark;
      }
      .ms-btn {
        width: 40px;
        height: 36px;
        float: left;
        background-color: transparent;
        color: white;
        padding: 0 8px;
        display: inline-block;
        &:hover {
          opacity: 0.3;
        }
        &:active {
          background-color: @exp-light-active;
        }
        &.dark {
          &:active {
            background-color: @exp-dark-active;
          }
        }
        &:disabled {
          opacity: 0.2;
          cursor: not-allowed;
          background-color: @exp-light !important;
          &.dark {
            background-color: @exp-dark !important;
          }
        }
      }
    }
    .ms-explr-h-addrbar {
      flex: 1;
      display: inline-block;
      float: left;
      padding: 3px 0;
      input {
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        padding: 0 8px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .clearfix();
  }
  .ms-explr-cont {
    height: 250px;
    overflow: auto;
    background-color: white;
    box-shadow: 0 0 1px @gray-500;
    position: relative;
  }
  .context-menu {
    width: 120px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #EEE;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        button {
          width: 100%;
          text-align: left;
          padding: 8px 16px;
          background-color: transparent;
          border: 0;
          margin: 0;
          outline: 0;
          font-size: inherit;
          cursor: pointer;
        }
        &:hover {
          background-color: @gray-450;
        }
      }
    }
  }
}

.static-dir-holder {
  position: relative;
  height: inherit;
  .static-dir-holder-b {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .static-dir-holder-i {
    height: 50%;
    padding: 24px;
    display: flex;
    position: relative;
    border: 0;
    &:before {
      content: '';
      width: 94%;
      height: 1px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 3%;
      background-color: @blue-200;
      visibility: visible;
    }
    &:last-child:before {
      display: none;
    }
    .static-dir-holder-icn {
      width: 110px;
    }
    .static-dir-holder-desc {
      flex: 1;
      padding-left: 20px;
      .head {
        margin: 8px 0;
        padding: 0;
        font-size: 20px;
        font-weight: 600;
      }
      .ctx {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}

.ms-icn-file-generic {
  background-image: url('../images/file_generic.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms-icn-file-img {
  background-image: url('../images/file_image.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms-icn-file-audio {
  background-image: url('../images/file_music.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms-icn-file-txt {
  background-image: url('../images/file_text.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms-icn-file-video {
  background-image: url('../images/file_video.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms-icn-folder {
  background-image: url('../images/folder_icon.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.ms-icn-private-folder {
  background-image: url('../images/private_folder.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  float:left;
  width:15%;
  height:75px;
}

.ms-icn-public-folder {
  background-image: url('../images/public_folder.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  float:left;
  width:15%;
  height:75px;
}
