// colours
// gray
@gray-100: #f2f2f2;
@gray-200: #f7f7f7;
@gray-300: #eeeeee;
@gray-400: #ececec;
@gray-450: #ebebeb;
@gray-500: #a6a6a6;
@gray-600: #b2b2b2;
@gray-700: #858585;
@gray-800: #4d4d4d;
@gray-810: #333333;
@gray-900: #282828;

// blue
@blue-100: #b4cee8;
@blue-200: #6a9ed1;
@blue-300: #5081aa;
@blue-400: #306d95;

@red-100: #e26464;

@btn-default: #D7D3DD;
@btn-hover: #78A1BF;
@btn-active: #3D6280;

// explorer
@exp-dark: #606C77;
@exp-dark-hover: #6C7785;
@exp-dark-active: #57606B;
@exp-light: #788694;
@exp-light-hover: #8595A3;
@exp-light-active: #6E7B87;
@exp-hover: #EBEFF5;
@exp-highlight: #CAD5E0;
