<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>%s</title>
    <link rel="stylesheet" href="./style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="root">
      <div class="ms-sample-template">
        <div class="sample-template-bnr">
          <span class="bnr-bg"></span>
          <div class="site-title">%s</div>
        </div>
        <div class="sample-template-ctx">
          <p class="site-desc-ctx">%s</p>
        </div>
      </div>
    </div>
  </body>
</html>
