body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;;
  font-size: 16px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

#root, #root > div {
  width: 100%;
  height: 100%;
}

.home-overflow {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 80px 0 50px;
}

.auth-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-wrapper .ant-card {
  width: 50%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.26)
}

.auth-wrapper .ant-card:hover {
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.26)
}

.auth-wrapper .ant-card .ant-card-head {
  text-align: center;
  background-color: #5592d7;
  color: white;
}

.auth-wrapper .ant-card .ant-card-head .ant-card-head-title {
  font-size: 18px;
}

.initialise-list {
  text-align: left;
  margin: 0;
  padding: 0;
}

.initialise-list li {
  line-height: 36px;
  font-size: 16px;
}

.initialise-list li > i {
  margin-right: 16px;
}

.initialise-list li > i.anticon-check {
  color: #57D36E;
}

.auth-wrapper.error .error-cntr {
  color: #e26464;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home-overflow > div {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #5592d7;
  z-index: 99;
}

.nav-title {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
}

.public-id-card {
  font-size: 16px;
}

.public-id-card .description {
  line-height: 28px;
  margin: 0 0 20px;
  padding: 0;
}

.error-msg {
  color: #e26464;
  line-height: 30px;
  min-height: 20px;
}

.service-link {
  margin: 0 0 20px 0;
}

.pull-right {
  float: right;
}

.nav-btn {
  width: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.link-btn a {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 16px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #EEE;
  color: #5592d7;
  float: right;
}

.link-btn a:hover {
  border-color: #5592d7;
}

.create-service .create-service-b {
  width: 60%;
  margin: auto;
  margin-top: 80px;
}

.create-service .create-service-input {
  margin-bottom: 40px;
}

.split-cntr {
  position: relative;
}

.split-cntr:after {
  content: "";
  clear: both;
  display: block;
}

.split-cntr-i {
  width: 50%;
  display: inline-block;
  float: left;
}

.split-cntr-i:first-child {
  padding-right: 20px;
}

.split-cntr-i:last-child {
  padding-left: 20px;
}

.split-cntr-i h3 {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: normal;
}

.split-cntr-i .ant-select, .split-cntr-i .ant-input-wrapper {
  width: 80%;
  margin: 0 auto 20px;
  display: inline-block;
}

.split-cntr-divider {
  position: absolute;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.service-list {
  padding: 24px 0 0;
}

.service-list .default {
  text-align: center;
  opacity: 0.5;
}

.service-list .ant-row {
  padding: 12px 0;
  font-size: 16px;
  border-bottom: 1px solid #EEE;
}

.service-list .ant-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.service-list .ant-row > div {
  padding-right: 8px;
  line-height: 30px;
}

.service-list .ant-row > div a {
  color: #5592D7;
}

.service-list .ant-row > div a:hover {
  text-decoration: underline;
}

.service-list .ant-row > div button {
  line-height: 30px;
  padding: 0 8px;
  background-color: transparent;
  border-color: #EEE;
  margin: 0 auto;
  display: block;
}

.service-list .ant-row > div button:hover {
  border-color: #5592d7;
  color: #5592d7;
}

/* custom */
.custom-card .ant-card .ant-card-head .ant-card-head-title {
  font-size: 18px;
}

.custom-card .ant-card-body .description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.custom-card .ant-card-body .ant-input-wrapper {
  margin-bottom: 16px;
}

.explorer {
  width: 80% !important;
  height: 60%;
  border: 1px solid rgba(0, 0, 0, 0.26);
  background-color: #FFFFFF;
  overflow: hidden;
  margin: 80px auto 0;
}

.explorer > .options-tray {
  height: 50px;
  color: #fff;
  background-color: #5592d7;
  line-height: 50px;
  font-size: 16px;
}

.explorer > .options-tray .title {
  text-align: center;
}

.explorer .options-tray .opt-btn i {
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.actionable {
  cursor: pointer;
  padding: 0 10px;
}

.custom-dropdown {
  margin: 0;
  padding: 0;
}

.custom-dropdown li {
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.custom-dropdown li:hover {
  color: #5592d7;
}

.file-list {
  padding: 24px 16px 50px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.file-list .default {
  text-align: center;
  line-height: 24px;
  opacity: 0.5;
}

.file-list .file-list-i:after {
  content: '';
  clear: both;
  display: block;
}

.file-list .file-list-i {
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
}

.file-list .file-list-i:hover {
  background-color: #f4f4f4;
}

.file-list .file-list-i .name {
  text-align: left;
  padding: 0 8px;
}

.ant-modal-header .ant-modal-title {
  font-size: 16px;
}

.popup-cnt .head {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 16px;
  padding: 0;
}

.popup-cnt .ant-progress {
  margin-bottom: 16px;
}

.custom-card-top-opt {
  text-align: right;
  margin-bottom: 16px;
}

.custom-card-top-opt .itm {
  display: inline-block;
}

.custom-card-top-opt .itm button {
  text-transform: uppercase;
  background-color: #5592d7;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
}

.custom-btn-grp .ant-select {
  width: 70%;
}

.custom-btn-grp .ant-select .ant-select-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0.5px;
}

.custom-btn-grp button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0.5px;
}

.custom-btn-grp button.lg {
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Network status */
.nw-status {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 13px 16px 13px 0;
}

.nw-status .nw-status-i {
  width: 24px;
  height: inherit;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nw-status .connecting {
  background-image: url('../img/nw-connecting.svg');
  animation: spin 0.4s linear infinite;
}

.nw-status .connected {
  background-image: url('../img/nw-connected.svg');
}

.nw-status-tooltip {
  display: none;
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  line-height: 30px;
  background-color: #424242;
  padding: 0 8px;
  bottom: -4px;
  right: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  overflow: hidden;
  margin-right: 8px;
  font-weight: 600;
  text-transform: uppercase;
}

.nw-status:hover .nw-status-tooltip {
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

